{# poster frame overlay #}

            <div 
                id="poster"
                class="flexContainerChild overlay clickThrough"
                style="background-image:url('/static/images/angsmn.jpg');"
            >
            </div> 


{# play button overlay #}
            
            <div id="playButtonOverlay"
                class="flexContainerChild overlay clickThrough">

                <div id="playButton"
                    class="centerize clickThrough">
                    
                     <div class="play-button-text">P</div>
                </div>
                 
            </div> {# play button container #}



{# social button overlay #}

            <div class="flexContainerChild display-mid">

                <div class="embed-social-button">
                    <div class="embed-social-button-text">F</div>
                </div>

                <div class="embed-social-button">
                    <div class="embed-social-button-text">T</div>
                </div>

                <div class="embed-social-button">
                    <div class="embed-social-button-text">G</div>
                </div>

            </div> {#  social button container #}



{# related videos overlay #}

            <div class="flexContainerChild display-mid">

                <div class="suggested-video-thumb">
                    <div class="embed-social-button-text"></div>
                </div>

                <div class="suggested-video-thumb">
                    <div class="embed-social-button-text"></div>
                </div>

                <div class="suggested-video-thumb">
                    <div class="embed-social-button-text"></div>
                </div>

            </div> {#  social button container #}




