{% extends "templates/partials/embed-base.html" %}

{% block embed %}

<div
    class="launcher display-mid"
    style="
      background-image:url('/static/images/ANGSMN.jpg');
      position: relative;
      overflow: hidden;
    "

>
</div>



<iframe 
    	style="border: none;" 
    	width="398" 
    	height="224" 
    	src="//www.youtube.com/embed/T5Ap6rkyBHY?&w=398&h=224" 
    	frameborder="0" 
    	scrolling="no" 
    	allowTransparency="true" 
    	allowfullscreen>

 </iframe>


{% endblock %}